Notebook to split data

# Imports

In [1]:
import os, os.path
import pandas as pd
from xml.dom import minidom
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Generate DF from annotations

In [2]:
# Generate empty dataframe

columns_names_df = ["task_name","img_number","usable_img","obj_detected_number","detected_ojects_number"]
df = pd.DataFrame(columns = columns_names_df)
df

Empty DataFrame
Columns: [task_name, img_number, usable_img, obj_detected_number, detected_ojects_number]
Index: []

In [3]:
path = '/home/acarlier/OrnithoMate/p0133_bird_data/annotations/'
tasks_dir = sorted(os.listdir(path))
unwanted_list = ['unknown', 'human', 'noBird']

def get_info_from_xml(xml_path):
    mydoc = minidom.parse(xml_path)
    items = mydoc.getElementsByTagName('object')
    nb_obj = len(items)
    nb_obj_real = 0
    birds = []
    for k in range(nb_obj):
        bird = items[k].childNodes[7].childNodes[1].childNodes[3].childNodes[0].data
        if bird not in unwanted_list:
            birds.append(bird)
            nb_obj_real += 1
        if bird == '1L':
            print(xml_path)
            
    return nb_obj_real, birds


total_img = 0
total_obj = 0
total_obj_dict = {}
for i in range(len(tasks_dir)):
    # Pour chaque tâche
    task_name = tasks_dir[i]
    
    task_dict = {}
    
    complete_path = path + task_name + '/Annotations/bird/' + task_name + '/'
    # Lister toutes les images de la tâche
    image_paths = sorted(os.listdir(complete_path))

    nb_img_real = 0
    nb_obj_real = 0
    for img in range(len(image_paths)):
        nb_obj, birds = get_info_from_xml(complete_path + image_paths[img])
        
        if nb_obj > 0:
            nb_img_real += 1
            nb_obj_real += len(birds)
            
            for b in birds:
                if b in task_dict:
                    task_dict[b] += 1
                else:
                    task_dict[b] = 1
                    
                if b in total_obj_dict:
                    total_obj_dict[b] += 1
                else:
                    total_obj_dict[b] = 1
    
    total_img += nb_img_real
    total_obj += nb_obj_real        
    #print(task_name, len(image_paths), nb_img_real, nb_obj_real, task_dict)
    df = df.append({'task_name': task_name, 'img_number':len(image_paths),
                   'usable_img':nb_img_real,'obj_detected_number':nb_obj_real,'detected_ojects_number':task_dict},ignore_index=True)
#print('Total images ', total_img, total_obj, total_obj_dict)

/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),

/home/acarlier/OrnithoMate/p0133_bird_data/annotations/task_20210611_Lab/Annotations/bird/task_20210611_Lab/2021-06-11-13-46-55.xml
/home/acarlier/OrnithoMate/p0133_bird_data/annotations/task_20210611_Lab/Annotations/bird/task_20210611_Lab/2021-06-11-13-56-43.xml

/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),
/tmp/ipykernel_67041/2503037352.py:58: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'task_name': task_name, 'img_number':len(image_paths),

In [4]:
df.head()

,task_name,img_number,usable_img,obj_detected_number,detected_ojects_number
0,task_05-01-2021,948,740,812,"{'MESCHA': 287, 'SITTOR': 182, 'MESBLE': 69, '..."
1,task_06-01-2021,324,225,268,"{'MESBLE': 22, 'MESCHA': 135, 'SITTOR': 32, 'M..."
2,task_18-01-2021,297,244,245,"{'MESNON': 73, 'ROUGOR': 5, 'MESBLE': 91, 'MES..."
3,task_19-01-2021,737,543,554,"{'MESCHA': 344, 'MESNON': 79, 'MESBLE': 74, 'R..."
4,task_2021-03-01_07,162,124,130,"{'MESBLE': 6, 'MESCHA': 17, 'VEREUR': 107}"

# Add station name and split type to DF

In [5]:
df.shape

(47, 5)

In [6]:
df_task = pd.read_csv('Ornithotasks - CVAT_task.csv')
df_task = df_task.rename(columns={"Task name": "task_name"})
print(df_task.head(2))
df_task.shape

               task_name     Site         Day Day2  Split
0  task_20210623_balacet  balacet  23-06-2021  NaN  TRAIN
1  task_20210624_balacet  balacet  24-06-2021  NaN  TRAIN

(48, 5)

In [7]:
df_difference = df.merge(df_task, how = 'outer' ,indicator=False)
df_difference.head()

,task_name,img_number,usable_img,obj_detected_number,detected_ojects_number,Site,Day,Day2,Split
0,task_05-01-2021,948,740,812,"{'MESCHA': 287, 'SITTOR': 182, 'MESBLE': 69, '...",Gajan,05-01-2021,NaN,TRAIN
1,task_06-01-2021,324,225,268,"{'MESBLE': 22, 'MESCHA': 135, 'SITTOR': 32, 'M...",Gajan,06-01-2021,NaN,TRAIN
2,task_18-01-2021,297,244,245,"{'MESNON': 73, 'ROUGOR': 5, 'MESBLE': 91, 'MES...",Gajan,18-01-2021,NaN,TRAIN
3,task_19-01-2021,737,543,554,"{'MESCHA': 344, 'MESNON': 79, 'MESBLE': 74, 'R...",Gajan,09-01-2021,NaN,TRAIN
4,task_2021-03-01_07,162,124,130,"{'MESBLE': 6, 'MESCHA': 17, 'VEREUR': 107}",Francon,01-03-2021,NaN,TRAIN

# Get percentages split values

In [8]:
def extract_from_split_value(df, column_value_selected, column_split_value, split_value):
    df_split_value = df.loc[df[column_split_value] == split_value]
    values_selected = df_split_value[column_value_selected]
    return values_selected

def get_percentage_split_value(df, column_value_selected, column_split_value):
    test = extract_from_split_value(df_difference, 'obj_detected_number', 'Split', 'TEST')
    train = extract_from_split_value(df_difference, 'obj_detected_number', 'Split', 'TRAIN')
    count_test = 0
    count_train = 0
    
    for value in test:
        if isinstance(value, int):
            count_test += value
    for value in train:
        if isinstance(value, int):
            count_train += value
    print(f"Train: {count_train} Test: {count_test}")
    total_value_selected = count_train + count_test
    percentage_train = round(count_train/total_value_selected,2)
    percentage_test = round(count_test/total_value_selected,2)
    return percentage_train,percentage_test

get_percentage_split_value(df_difference, 'obj_detected_number', 'Split')

Train: 11171 Test: 2917

(0.79, 0.21)

# Make validation dataset from DF train

In [9]:
def random_split_train_in_validation(df_input, column_split):
    df = df_input.copy()
    df_train = df.loc[df[column_split] == 'TRAIN']
    df_train_lenght = df_train.shape[0]
    df_validation = df_train.sample(round(df_train_lenght/10))
    df_validation['Split'] = df_validation['Split'].replace('TRAIN','VALIDATION')
    print('Indexes of validation tasks', list(df_validation.index))
    df.loc[df_validation.index] = df.loc[df_validation.index].replace('TRAIN','VALIDATION')
    return df
df_split = random_split_train_in_validation(df_difference,'Split')

Indexes of validation tasks [13, 16, 24, 22]

In [10]:
df_split

,task_name,img_number,usable_img,obj_detected_number,detected_ojects_number,Site,Day,Day2,Split
0,task_05-01-2021,948,740,812,"{'MESCHA': 287, 'SITTOR': 182, 'MESBLE': 69, '...",Gajan,05-01-2021,NaN,TRAIN
1,task_06-01-2021,324,225,268,"{'MESBLE': 22, 'MESCHA': 135, 'SITTOR': 32, 'M...",Gajan,06-01-2021,NaN,TRAIN
2,task_18-01-2021,297,244,245,"{'MESNON': 73, 'ROUGOR': 5, 'MESBLE': 91, 'MES...",Gajan,18-01-2021,NaN,TRAIN
3,task_19-01-2021,737,543,554,"{'MESCHA': 344, 'MESNON': 79, 'MESBLE': 74, 'R...",Gajan,09-01-2021,NaN,TRAIN
4,task_2021-03-01_07,162,124,130,"{'MESBLE': 6, 'MESCHA': 17, 'VEREUR': 107}",Francon,01-03-2021,NaN,TRAIN
5,task_2021-03-01_08,317,108,115,"{'MESCHA': 61, 'MESBLE': 9, 'VEREUR': 45}",Francon,01-03-2021,NaN,TRAIN
6,task_2021-03-01_09,444,196,209,"{'VEREUR': 68, 'MESCHA': 68, 'PINARB': 6, 'MOI...",Francon,01-03-2021,NaN,TRAIN
7,task_2021-03-01_10,525,169,174,"{'PINARB': 20, 'MESCHA': 45, 'VEREUR': 93, 'ME...",Francon,01-03-2021,NaN,TRAIN
8,task_2021-03-01_11,278,128,130,"{'MESCHA': 103, 'MESBLE': 17, 'PINARB': 5, 'VE...",Francon,01-03-2021,NaN,TRAIN
9,task_2021-03-01_12,158,115,117,"{'MESCHA': 78, 'VEREUR': 33, 'MESBLE': 5, 'PIN...",Francon,01-03-2021,NaN,TRAIN
10,task_2021-03-01_13,236,208,224,"{'MESCHA': 46, 'MESBLE': 12, 'VEREUR': 166}",Francon,01-03-2021,NaN,TRAIN
11,task_2021-03-01_14,283,212,224,"{'MESCHA': 146, 'MESBLE': 38, 'VEREUR': 40}",Francon,01-03-2021,NaN,TRAIN
12,task_2021-03-01_15,206,131,134,"{'MESCHA': 114, 'MESBLE': 19, 'PINARB': 1}",Francon,01-03-2021,NaN,TRAIN
13,task_2021-03-01_16,157,89,95,"{'MESCHA': 59, 'MESBLE': 11, 'VEREUR': 25}",Francon,01-03-2021,NaN,VALIDATION
14,task_2021-03-01_17,350,254,279,"{'VEREUR': 57, 'MESCHA': 183, 'MESBLE': 39}",Francon,01-03-2021,NaN,TRAIN
15,task_2021-03-01_18,69,40,41,"{'MESCHA': 24, 'MESBLE': 17}",Francon,01-03-2021,NaN,TRAIN
16,task_20210205,147,139,157,"{'VEREUR': 60, 'MESCHA': 78, 'MESBLE': 5, 'PIN...",Francon,05-02-2021,NaN,VALIDATION
17,task_20210217,239,226,273,"{'MESBLE': 22, 'MESCHA': 188, 'VEREUR': 25, 'T...",Francon,17-02-2021,NaN,TRAIN
18,task_20210227,320,292,346,"{'MESCHA': 184, 'VEREUR': 96, 'MESBLE': 40, 'M...",Francon,27-02-2021,NaN,TRAIN
19,task_20210228,223,217,237,"{'MESCHA': 158, 'MESBLE': 19, 'PINARB': 12, 'V...",Francon,28-02-2021,NaN,TEST
20,task_20210409,68,64,64,"{'MESCHA': 4, 'ECUROU': 60}",UPS,09-04-2021,NaN,TRAIN
21,task_20210411,1,0,0,{},UPS,11-04-2021,NaN,TRAIN
22,task_20210412,90,52,52,"{'MESCHA': 14, 'ECUROU': 38}",UPS,12-04-2021,NaN,VALIDATION
23,task_20210413_UPS,94,69,69,"{'ECUROU': 58, 'MESCHA': 11}",UPS,13-04-2021,NaN,TRAIN
24,task_20210414,133,119,120,"{'MESCHA': 20, 'ECUROU': 100}",UPS,14-04-2021,NaN,VALIDATION
25,task_20210415_UPS,211,176,177,"{'ECUROU': 157, 'MESCHA': 20}",UPS,15-04-2021,NaN,TRAIN
26,task_20210416_UPS,292,262,262,"{'ECUROU': 234, 'MESCHA': 27, 'MESBLE': 1}",UPS,16-04-2021,NaN,TRAIN
27,task_20210417_UPS,461,401,404,"{'MESCHA': 107, 'PIEBAV': 24, 'ECUROU': 265, '...",UPS,17-04-2021,NaN,TRAIN
28,task_20210418_UPS,358,311,314,"{'ECUROU': 251, 'MESCHA': 53, 'MESBLE': 3, 'PI...",UPS,18-04-2021,NaN,TRAIN
29,task_20210419_UPS,121,94,94,"{'PIEBAV': 16, 'ECUROU': 71, 'MESCHA': 7}",UPS,19-04-2021,NaN,TRAIN
30,task_20210420,8,7,7,"{'MESCHA': 2, 'PIEBAV': 5}",UPS,20-04-2021,NaN,TRAIN
31,task_20210523_UPS,248,242,268,"{'ECUROU': 70, 'MESBLE': 3, 'PIEBAV': 195}",UPS,23-05-2021,NaN,TRAIN
32,task_20210525_UPS,227,207,207,"{'MESCHA': 20, 'PIEBAV': 146, 'ECUROU': 40, 'M...",UPS,25-05-2021,NaN,TRAIN
33,task_20210526_UPS,232,228,228,"{'PIEBAV': 173, 'ECUROU': 31, 'MESBLE': 4, 'ME...",UPS,26-05-2021,NaN,TEST
34,task_20210611_Lab,492,411,479,"{'MESCHA': 454, '1L': 2, 'MESBLE': 13, 'MOIDOM...",Lab,11-06-2021,NaN,TRAIN
35,task_20210612_1_Lab,556,400,488,{'MESCHA': 488},Lab,12-06-2021,NaN,TRAIN
36,task_20210615_Lab,641,546,783,"{'MESCHA': 762, 'VEREUR': 12, 'MESBLE': 9}",Lab,15-06-2021,NaN,TEST
37,task_20210616_Lab,478,384,502,"{'MESCHA': 465, 'MESBLE': 7, 'VEREUR': 30}",Lab,16-06-2021,NaN,TEST
38,task_20210623_balacet,268,213,214,"{'MESCHA': 166, 'ACCMOU': 42, 'ROUGOR': 6}",balacet,23-06-2021,NaN,TRAIN
39,task_20210624_balacet,439,370,414,"{'MESCHA': 251, 'MULGRI': 68, 'CAMPAG': 16, 'A...",balacet,24-06-2021,NaN,TRAIN
40,task_20210625_balacet,21,18,23,"{'MESCHA': 10, 'MULGRI': 10, 'ACCMOU': 3}",balacet,25-06-2021,NaN,TRAIN
41,task_20210705-07_balacet,335,328,334,"{'MESNON': 48, 'MULGRI': 19, 'ROUGOR': 86, 'ME...",balacet,05-07-2021,NaN,TEST
42,task_20211204_Orlu,1499,979,1028,"{'MESBLE': 196, 'MESCHA': 631, 'MESNON': 62, '...",Orlu,04-11-2021,NaN,TRAIN
43,task_2021_11_03-04_cescau4,1755,1641,1891,"{'SITTOR': 188, 'MESCHA': 556, 'MESNOI': 183, ...",cescau4,03-11-2021,04-11-2021,TRAIN
44,task_21-01-2021,939,805,833,"{'MESCHA': 583, 'MESBLE': 142, 'MESNON': 88, '...",Gajan,21-01-2021,NaN,TEST
45,task_MOIDOM_ODJ,45,45,69,{'MOIDOM': 69},ODJ,NaN,NaN,TRAIN
46,task_berggris,11,11,11,{'BERGRI': 11},NaN,NaN,NaN,NaN
47,task_20211109_cescau1,NaN,NaN,NaN,NaN,cescau1,09-11-2021,NaN,TEST
48,task_20211008_Moulis,NaN,NaN,NaN,NaN,Moulis,08-11-2021,NaN,TRAIN

# Get numbers objects depending on split value
Ex: MESCHA: 600 Train; 200 Validatio; 40 Test

In [18]:
def check_data_type(data):
    if type(data) is str:
        return data
    elif type(data) is dict:
        return data

def get_number_object_depending_on_split_value(df):
    dict_birds = {}
    df_clean = df[['detected_ojects_number', 'Split']]
    for col_name, data in df_clean.items():
        #data = value[0]
        print(type(data))
        print(data[0])
        
        
        
        """
        if type(data) is str:
            split_value_type = data
            print("Val type",split_value_type)
        if type(data) is dict:
            print(data)
            species = []
            numbers = []
            for specie, number in data.items():
                species.append(specie)
                numbers.append(number)
            print(species,numbers)
        
        #dict_birds.fromkeys(species, None)
        #specie_dict = {specie:{split_value_type:number}}
        #print(dict_birds)
        """  

get_number_object_depending_on_split_value(df_split)

<class 'pandas.core.series.Series'>
{'MESCHA': 287, 'SITTOR': 182, 'MESBLE': 69, 'MESNON': 100, 'PINARB': 2, 'ACCMOU': 147, 'ROUGOR': 25}
<class 'pandas.core.series.Series'>
TRAIN